<div class="well">
    <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-shopping-cart"></i>
            {{ nbr_produits }} articles - 54,27 €
            <b class="caret"></b></a>
        </a>
        <div class="dropdown-menu well" role="menu" aria-labelledby="dLabel">
            {% for produit in produits %}
                <p><small><a href="{{ path('produit', {'id': produit.id}) }}">{{ produit.nom }}</a>  x {{ panier[produit.id] }} <span class="pull-right"> {{ produit.prix * panier[produit.id] }} €</span></small></p>
            {% endfor %}
            <a href="{{ path('panier') }}" class="btn btn-primary">Mon Panier</a>
        </div>
    </div>
</div>